

body{
    background-color: rgb(255, 0, 0);

}

.painel{
    margin: auto;
    background-color: white;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    text-align: center;
    padding-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#sim{
    
    height: 40px;
    width: 60px;
    background-color: red;
    border:2px solid white;
    border-radius: 10px;
    color: white;
    margin-left: -80px;

}

#nao{
    position: absolute;
    height: 40px;
    width: 60px;
    background-color: red;
    border:2px solid white;
    border-radius: 10px;
    color: white;
    margin-left: 20px;
}